var/log/batch/*
!var/log/batch/.gitkeep
var/log/nginx/*
!var/log/nginx/.gitkeep
var/upload/bank/*
!var/upload/bank/.gitkeep
var/upload/cuenote/*
!var/upload/cuenote/.gitkeep
var/upload/message/*
!var/upload/message/.gitkeep
var/upload/reward/*
!var/upload/reward/.gitkeep
var/upload/user_point/*
!var/upload/user_point/.gitkeep
var/backup/*
!var/backup/.gitkeep
work/*
nbproject
